html {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


h1 {
    font-size: 2rem;
    font-family: 'Inter', Verdana, sans-serif;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

body {
    height: 100%;
    background-color: rgb(243, 230, 230);
}

.wrapper {
    max-width: 50rem;
    margin: 0 auto;
}

.header {
    text-align: left;
    /* padding: 1rem; */
}

.accordion {
    cursor: pointer;
}

.slide_head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease-out;
    height: 3rem;
    padding-top: 0.3rem;
    align-items: center;
}

.img {
    
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 0.4rem;
    padding-right: 1rem;
}

svg {
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 0.2s, 0.2s;
}

.accordion-title {
    text-align: left;
    display: flex;
    /* color: #000000; */
    cursor: pointer;
    transition: color 0.2s;
}

.accordion-input {
    display: none; 
}




.accordion-input:checked ~ .accordion-img {
    height: 25vw;
    opacity: 1;
}



.accordion-input:checked + label svg {
    transform: rotate(-90deg);
}

.accordion-item {
    display: block;
}

.accordion-item:active {
    opacity: 0.7;
    transition: all 0.1s ease;
}

.accordion-input:active + label .img {
    opacity: 0.7;
}


.accordion-img {
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    height: 0;
    opacity: 0;
    /* margin-bottom: 1rem; */
    padding-bottom: 0.5rem;
    transition-property: opacity, transform, height;
    transition-duration: 0s, 0.3s, 0.5s;
    transition: all 0.3s ease-out;
}

.accordion-item:active span {
    color: #2f4bbc;
    transition: color 0.1s ease-out;
}
.accordion-item:active svg path {
    fill: #2f4bbc;
    transition: fill 0.1s ease;
}

.accordion-item {
    border-top: solid 0.1rem #a99c9c;
}

.mem {
    transition: all 0.6 ease;
}

span {
    font-family: 'Inter', Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.2s ease-out;
    line-height: 3rem ;
    color: #000000;
    padding-left: 1rem;
}

/* .accordion-input:checked .accordion-title {
    color: #000000;
}  */

.accordion-input:checked + .accordion-title span {
    color: #000000;
} 


.accordion-item:active + .accordion-title span {
    color: #2f4bbc;
    transition: color 0.1s ease-out;
}
.accordion-item:active svg path {
    fill: #2f4bbc;
    transition: fill 0.1s ease-out;
}


@media (hover: hover) {
    .accordion:hover span {
        color: #000000;
    }
    
    .accordion:hover .img {
        opacity: 1;
    }
    .accordion-img:hover {
        height: 25vw;
        transition: all 0.6 ease;
    }
    .accordion-item:hover svg {
        transform: rotate(-90deg);
    }
    .accordion-item:hover .accordion-img {
        height: 25vw;
        opacity: 1;
    }

    span {
        color: #2f4bbc;
    }

    .img {
        opacity: 0;
    }
}

@media (min-width: 320px) {
    .accordion-input:checked ~ .accordion-img {
        height: 90vw;
    }
    h1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.7rem;
        padding-top: 0;
    }
    span {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 820px) {
    .accordion-input:checked ~ .accordion-img {
        height: 90vw;
    }
    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        padding-top: 0;
    }
    span {
        font-size: 2rem;
        line-height: 2rem;
    }

    .slide_head {
        height: 3.8rem;
    }
}

@media (min-width: 1400px) {
    .accordion-input:checked ~ .accordion-img {
        height: 25vw;
    }
    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        padding-top: 0;
    }
    span {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .slide_head {
        height: 3.8rem;
    }
}



@media (min-width: 1920px) {
    .accordion-input:checked ~ .accordion-img {
        height: 30vw;
    }
    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        padding-top: 0;
    }
    span {
        font-size: 2rem;
        line-height: 2rem;
    }

    .slide_head {
        height: 3.8rem;
    }
}
